<div class="content">
    <div class="col-md-12">
      <div class="card">
          <form [formGroup]="addressAddForm">
            <div class="card-body">
            <div class="mb-2 row">
              <div class="col-md-2">
                <label for="recipientName" class="col-form-label">Alıcı Adı</label>
              </div>
              <div class="col-sm-4">
                <input type="text" id="recipientName" class="form-control"formControlName="recipientName" placeholder="Ekrem H. Deniz">
              </div>
              <div class="col-md-2">
                <label for="neighborhood" class="col-form-label">Mahalle</label>
              </div>
              <div class="col-sm-4">
                <select class="form-select" id="neighborhood" formControlName="neighborhood" aria-label="">
                  <option selected >Türkiye</option>
                  <option value="1">One</option>
                </select>
              </div>
            </div>
            <div class="mb-2 row">
              <div class="col-md-2">
                <label for="addressType" class="col-form-label">Adres Tipi</label>
              </div>
              <div class="col-sm-4">
                <select class="form-select" id="addressType" formControlName="addressType" aria-label="">
                    <option selected ></option>
                  </select>
              </div>
              <div class="col-md-2">
                <label for="street" class="col-form-label">Cadde</label>
              </div>
              <div class="col-sm-4">
                <input type="text" id="street" class="form-control"formControlName="street" placeholder="">
              </div>
             </div>
             <div class="mb-2 row">
              <div class="col-md-2">
                <label for="motherName" class="col-form-label ">Ana Adı</label>
              </div>
              <div class="col-sm-4"> 
                <input type="text" id="motherName" class="form-control"formControlName="motherName" placeholder="Fadime">
              </div>
              <div class="col-md-2">
                <label for="nationalityStatus" class="col-form-label  ">Vatandaşlık Durumu</label>
              </div>
              <div class="col-sm-4">
                <select class="form-select" id="nationalityStatus" formControlName="nationalityStatus" aria-label="">
                  <option selected >Türkiye</option>
                  <option value="1">One</option>

                </select>
              </div>
             </div>
            </div>
            <div class="card-body  ">
              <button class="btn btn-outline-primary " (click)="add()">Kaydet</button>
            </div>
          </form>
      </div>
      
        </div>
  

      </div>



  