


<table class="table table-hover">
  <thead>
      <tr>
          <th>Tür</th>
          <th> Amaç</th>
          <th>Açıklama</th>
          <th>İletişim için kullanılabilir</th>
          <th></th>

          
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let contactUpdate of contactUpdates">
          
        <td>{{contactUpdate.type }}</td>
          <td>{{contactUpdate.purpose }}</td>
          <td>{{contactUpdate.description }}</td>
          <td>
            <input
              class="form-check-input col-auto"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
          </td>
          <td>
            <button
              (click)="getContactUpdate()"
              type="button"
              class="btn btn-outline-primary"
            >
              Düzenle
            </button>
          </td>
          
        
      </tr>
  </tbody>    
