<table  class="table table-hover">
    <thead>
        <tr>
            <th>Tür</th>
            <th>Amaç</th>
            <th>Açıklama</th>
            <th>İletişim için kullanılabilir</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Adres</td>
            <td>Ev Adresi</td>
            <td>Bahçeli evler mah.</td>
            <td> <input class="form-check-input col-auto"  type="checkbox" value="" id="flexCheckDefault"></td>
            <td><button (click)="getContactUpdate()" type="button" class="btn btn-outline-primary">Düzenle</button></td>
        </tr>
        <tr>
            <td>Tel</td>
            <td>Ev Telefonu</td>
            <td>0(212)453 12 34</td>
            <td> <input class="form-check-input col-auto"  type="checkbox" value="" id="flexCheckDefault"></td>
            <td><button (click)="getContactUpdate()" type="button" class="btn btn-outline-primary">Düzenle</button></td>
        </tr>
    </tbody>

</table>
